<footer class="footer bg-danger py-3 mt-auto">
    <!-- py class is y axis padding. gives padding to top and bottom -->
    <div class="container">
        <span class="">&copy;Book Collection 2020</span>
    </div>
</footer>